body {
     background-color: #333;
     color: #fff;
     font-size: 24px;
     font-family: Arial, sans-serif;
}

.container {
     margin: 50px auto;
     padding: 20px;
     width: 50%;
     background-color: #444;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
     display: flex;
     flex-direction: column;
}

label {
     font-weight: bold;
     margin-bottom: 10px;
}

input,
select {
     margin-bottom: 20px;
     padding: 10px;
     border: none;
     border-radius: 5px;
}

button {
     padding: 15px 40px;
     border: none;
     border-radius: 5px;
     background-color: #0095ff;
     color: #fff;
     font-weight: bold;
     cursor: pointer;
     width: 150px;
     margin: 0 auto;
     display: block;
}

.card {
     margin-top: 20px;
     padding: 20px;
     background-color: #555;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     border-radius: 5px;
}
